
<!-- include header -->
<%-include('include/_header')%>
<!-- /include header -->

 <!-- main -->

 <main class="site-main">
    <div class="container con">
        <div class="box-nav d-flex justify-between users">
            <div class="filter">
                <a href="/"><i class="fa-solid fa-angles-left"></i>All User</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>
       <!-- add user form -->
       <%-include('include/_form')%>
    </div>
</main>
<!-- main -->


<!-- include footer -->
<%-include('include/_footer')%>

<!--/ include header -->